Deals:

%ul
  %li
    = link_to deal_path('basic') do
      Basic hangover
  %li
    = link_to deal_path('advanced') do
      Advanced hangover
  %li
    = link_to deal_path('omg') do
      OMG plz help
