.info-section
  %h1 The Basics

  %p Get your recovery started - everything you need to get back on your feet.

.deal-detail
  %p
    = image_tag 'tier1.jpg', class: 'deal-detail--image'

  %ul
    %li Fresh squeezed juice
    %li Breakfast burrito
    %li Sweet pastry

= render 'payment_form'
