.info-section
  %h1 The Works

  %p For those beyond conventional help

.deal-detail
  %p
    = image_tag 'tier3.jpg', class: 'deal-detail--image'

  %p The Basics & Extras, plus:

  %ul
    %li + Blueberry muesli
    %li + Coconut water

= render 'payment_form'
